<!doctype html>
<html ng-app="voyager">
<head>
  <meta charset="utf-8">

  <title>Voyager</title>
  <link rel="stylesheet" type="text/css" href="./assets/public/css/styles.css">
</head>
<body ng-controller="PlacesCtrl as place">

  <head>

    <div class="h500 bgc-green debug">
      <nav class="top-bar debug">
        <ul class="title-area">
          <li class="name">
            <h2><a href="">Voyager</a></h2>
          </li>
        </ul>
      </nav>

      <div class="row">
        <div class="small-12 text-center columns pt150 debug">
          <h1>Oh, the places you'll go</h1>
        </div>
      </div>
      <form name="place.userForm" ng-submit="place.submit(place.newPlace)">
        <div class="row pt50">
          <div class="small-12 medium-3 text-center columns debug">
            <h4>I'd like to find</h4>
          </div>
          <div class="small-12 medium-4 columns debug">
            <input type="text" placeholder="e.g. Pizza" ng-model="place.newPlace.activity" required="true">
          </div>
          <div class="small-12 medium-2 text-center columns debug">
            <h4>near </h4>
          </div>
          <div class="small-12 medium-3 columns debug">
            <input type="text" value="current location" ng-model="place.newPlace.location">
          </div>
        </div>
        <div class="row">
          <div class='small-6 medium-3 small-centered columns'>
            <button class="button postfix" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>

  </head>

  <main>

    <div class="row">
      <div class="small-12 text-center columns pt25 debug">
        <h4>Near by places</h4>
      </div>
    </div>
    <div class="row">
      <div id="map" class="small-12 columns h300 debug">
      </div>
    </div>

  </main>


  <footer>
    <div class="row">
      <div class="small-12 columns h300 debug">
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="assets/public/js/main.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD67l5ej33fk4Y1YT4SjLNeSYJwHp0G22I&libraries=places"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
  <script type="text/javascript" src="app/voyager.js"></script>
  <script type="text/javascript" src="app/controllers/places-controller.js"></script>
  <script type="text/javascript" src="app/models/places-model.js"></script>
</body>
</html>