<!doctype html>
<html ng-app="voyager">
<head>
  <meta charset="utf-8">

  <title>Voyager</title>
  <link rel="stylesheet" type="text/css" href="./assets/public/css/styles.css">
</head>
<body ng-controller="PlacesCtrl as place">

  <head>

    <div class="h500 hero debug">
      <nav class="top-bar debug">
        <ul class="title-area">
          <li class="name">
            <h2><a href="">Voyager</a></h2>
          </li>
        </ul>
      </nav>

      <div class="row">
        <div class="small-12 text-center columns pt150 debug">
          <h1 class="c-white">Oh, the places you'll go</h1>
        </div>
      </div>
      <div class="debug mt38" style="background-color: rgba(0, 0, 0, .7)">
        <form name="place.userForm" ng-submit="place.submit(place.newPlace)">
          <div class="row pt50">
            <div class="small-12 medium-3 text-center columns pt5 debug">
              <h4 class="c-white">I'd like to find</h4>
            </div>
            <div class="small-12 medium-3 columns debug">
              <input type="text" placeholder="e.g. Pizza" class="text-center c-white bg-none bd-none bd-bottom-white fz-1-5 h50" ng-model="place.newPlace.activity" required="true">
            </div>
            <div class="small-12 medium-2 text-center columns pt5 debug">
              <h4 class="c-white">near</h4>
            </div>
            <div class="small-12 medium-4 columns debug">
              <input type="text" placeholder="e.g. current location" class="text-center c-white bg-none b-none b-bottom-white fz-1-5 h50" ng-model="place.newPlace.location">
            </div>
          </div>
          <div class="row">
            <div class='small-6 medium-3 small-centered columns pt15'>
              <button class="button postfix" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </head>

  <main>

    <div class="row">
      <div class="small-12 text-center columns pt25 debug">
        <h4>Near by places</h4>
      </div>
    </div>
    <div class="row">
      <div id="map" class="small-12 columns h400 debug">
      </div>
    </div>

    <div class="row" ng-model="place.places" ng-repeat="x in place.places">
      <div style="height: 200px; background-positioin: center; background-size: cover; background-image: url('{{x.photos[0].getUrl({maxWidth: 200})}}')" class="small-3 columns debug">
        <img class="bgc-white h40 pt5 pr5 pb5 pl30 p-a l-0 b-0" src="{{x.icon}}"/>
      </div>
      <div class="small-9 columns debug">

      </div>
      <h4>{{x.name}}</h4>
    </div>

  </main>


  <footer>
    <div class="row">
      <div class="small-12 columns h400 debug">
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="assets/public/js/main.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD67l5ej33fk4Y1YT4SjLNeSYJwHp0G22I&libraries=places"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
  <script type="text/javascript" src="app/voyager.js"></script>
  <script type="text/javascript" src="app/controllers/places-controller.js"></script>
  <script type="text/javascript" src="app/models/places-model.js"></script>
</body>
</html>