.debug { border: 1px solid red; }

nav {background: none !important;}

.h300 {height: 300px;}
.h500 {height: 500px;}

.bgc-green {background-color: green;}

.pt25 {padding-top: 25px;}
.pt50 {padding-top: 50px;}
.pt150 {padding-top: 150px;}